$social-tags: '';
$brand-small-icon-size: 30px;

$gray-1: #e6e6e6;
$gray-2: #a9a9a9;
$gray-3: #797979;
$gray-4: #675C53;

$brand-blue: #006298;
$brand-blue-secondary: #004165;
$brand-blue-secondary2: #7D9AAA;

$brand-red: rgb(244, 74, 63);
$brand-red-secondary: #e0543e;
$brand-red-secondary2: #d94d3a;

$brand-yellow: #FDC82F;
$brand-yellow-secondary: #FEDF00;
$brand-yellow-secondary2: #E17000;

$brand-green: #008542;
$brand-green-secondary: #00B2A9;
$brand-green-secondary2: #A8B400;

$slide-width: 900px;
$slide-height: 700px;
$slide-width-widescreen: 1100px;
$slide-top-bottom-padding: 40px;
$slide-left-right-padding: 60px;
$slide-border-radius: 5px;

$slide-tap-area-width: 100px;

$article-content-top-padding: 45px;
